%body
  %h1
    These database models:
  %li
    %ul= link_to('Parents', parents_path)
    %ul= link_to('Children', children_path)
    %ul= link_to('Toys', toys_path)
    %ul= link_to('Loans', loans_path)
  %h1
    Are documented 
    = link_to('on the schema_doc page', 'schema_doc')
  %div
    